
.title_{
    @extend %text;
    h1,h2{
        font-weight: 500;
        margin-bottom: 0;
        &[color="green"]{
            color: $color--primary;
        }
        &[color="gray"]{
            color: $color--secundary;
        }
    }
}
