.title_{
    @extend %center-align;
    width: 90%;
    visibility: hidden;
    h2{
        font-weight: bold;
        &[color="green"]{
            color: $color--primary;
        }
        &[color="gray"]{
            color: $color--secundary;
        }
    }
}