.title_{
    h2{
        font-weight: bold;
        margin-bottom: 0;
        &[color="green"]{
            color: $color--primary;
        }
        &[color="gray"]{
            color: $color--secundary;
        }
    }
}