#home{
	  margin-top: -100px;
		@extend %text;
		.seccion{
			  height: 100vh;
			  min-height: 600px;
			  position: relative;
				.key{
					  @extend %vertical-align;
						left: 0;
						width: 300px;
				}
		}
		.banner{
				 .title{
					     @extend %center-align;
						 color: $color--text;
						 letter-spacing: 2px;
						 h1{
							   margin-bottom: 2.5rem;
								 font-weight: 300;
								 &:first-child{
									   font-weight: 500;
										 margin-bottom: 1rem;
								 }
						 }
						 button{
							   background: linear-gradient(to right, $color--primary, $color--secundary);
								 color: #fff;
								 letter-spacing: 2px;
								 font-weight: 200;
								 border: none;
								 padding: 7px 15px;
								 width: 200px;
								 cursor: pointer;
								 border-radius: 50px;
						 }
				 }
		}
		.creat{
			  .content{
					  position: absolute;
						left: 60px;
						bottom: 35px;
						color: #fff;
						font-weight: 500;
						letter-spacing: 2px;
						h3{
							font-weight: 900;
							font-size: 1.3em;
							margin-bottom: 1rem;
							padding-left: 35px;
						}
						.branding{
							  list-style: none;
								li{
									  position: relative;
										&::before{
											  content: '';
												@extend %vertical-align;
												width: 16px;
												height: 6px;
												left: -25px;
												border-radius: 8px;
												background: #fff;
										}
								}
						}
						.services{
							list-style: none;
							font-weight: 900;
							font-size: 1.3em;
							li{
								padding-top: 8px;
								padding-bottom: 8px;
                                position: relative;
                                &::before{
                                    position: absolute;
                                    content: '';
                                    @include cp-property(transform, translateY(-50%) rotate(-2deg));
                                    top: 50%;
                                    background: #fff;
                                    height: 6px;
                                    width: 25px;
                                    left: -35px;
                                    border-radius: 10px;
                                }
                                &::after{
                                	position: absolute;
                                    content: '';
                                    @include cp-property(transform, translateY(-50%));
                                    top: 50%;
                                    background: #fff;
                                    height: 26px;
                                    width: 6px;
                                    left: -24px;
                                    border-radius: 10px;
                                }
							}
						}
				}
				.title{
					    @extend %vertical-align;
						left: 310px;
						color: $color--text;
						letter-spacing: 2px;
						h1:first-child{
								margin-bottom: 1rem;
						}

				}
		}
		.us{
			.title{
			    @extend %vertical-align;
				left: 310px;
				color: $color--text;
			}
		}
}
