#home{
	  margin-top: -100px;
		@extend %text;
		.banner{
			   height: 100vh;
				 min-height: 600px;
				 position: relative;
				 .title{
					   @extend %center-align;
						 color: $color--text;
						 letter-spacing: 2px;
						 h1{
							   margin-bottom: 2.5rem;
								 font-weight: 300;
								 &:first-child{
									   font-weight: 500;
										 margin-bottom: 1rem;
								 }
						 }
						 button{
							   background: linear-gradient(to right, $color--primary, $color--secundary);
								 color: #fff;
								 letter-spacing: 2px;
								 font-weight: 200;
								 border: none;
								 padding: 7px 15px;
								 width: 200px;
								 cursor: pointer;
								 border-radius: 50px;
						 }
				 }
		}
}
