/*================== HEADER ==================== */
#header{
    padding-top: 1.5rem;
    background: #fff;

	.logo{
        max-width: 200px;
        svg{
            width: 100%;
            .cls-1 {
                fill: #40b979;
                font-size: 25px;
                font-family: Arial-BoldMT, Arial;
                font-weight: 700;
            }

            .cls-2 {
                fill: #2ecc71;
            }

            .cls-3 {
                fill: #c4c4c4;
            }
        }
    }
    .bars{
        @extend %center-align;
        width: 25px;
        height: 24px;
        cursor: pointer;
        .bar{
            @extend %vertical-align;
            width: 100%;
            height: 3px;
            background: #C4C4C4;
        }
        .bar::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: #C4C4C4;
            top: 8px;
        }
        .bar::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: #C4C4C4;
            bottom: 8px;
        }
    }
    .menu{
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 50;
        top: 0;
        left: 0;
        pointer-events: none;
        @extend %text;
        &::after{
            content: '';
            background: $color--primary;
            width: 100%;
            height: 100%;
            position: absolute;
            @include cp-property(transform, translateX(120%));
            @include transition(600ms);
            opacity: 0.7;
        }
        &::before{
            content: '';
            background: $color--primary;
            width: 100%;
            height: 100%;
            position: absolute;
            @include cp-property(transform, translateX(120%));
            @include transition(800ms);
            @include cp-property(transition-delay, 300ms);
            opacity: 1;
        }
        .top{
            @extend %horizontal-align;
            top: 2rem;
            width: 90%;
            z-index: 5;
            opacity: 0;
            @include transition(600ms ease);
            .logo{
                max-width: 200px;
                svg{
                    width: 100%;
                    .cls-1 {
                        fill: #fff;
                    }

                    .cls-2 {
                        fill: #fff;
                    }

                    .cls-3 {
                        fill: #fff;
                    }
                }
            }
            .btn_close{
                position: absolute;
                color: #fff;
                top: 0;
                right: 0;
                cursor: pointer;
                font-size: 1.3em;
                font-weight: 300;
                i{
                    margin-left: 1rem;
                }
            }
        }
        .center{
            @extend %vertical-align;
            left: 5%;
            color: #fff;
            z-index: 5;
            ul{
                list-style: none;
                padding-left: 0;
                font-size: 3rem;
                font-weight: 500;
                li{
                    @include transition(600ms);
                    @include cp-property(transform, translateY(-100%));
                    opacity: 0;
                }
            }
        }
        &.active{
            pointer-events: all;
            &::after{
                @include cp-property(transform, translateX(0%));
            }
            &::before{
                @include cp-property(transform, translateX(0%));
            }
            .top{
                @include cp-property(transition-delay, 600ms);
                opacity: 1;
            }
            .center{
                ul{
                    li{
                        $plus : 600;
                        @for $i from 1 to 5{
                            &:nth-child(#{$i}){
                                opacity: 1;
                                @include cp-property(transform, translateY(0%));
                                @include cp-property(transition-delay, unquote($plus+'ms'));
                            }
                            $plus : $plus + 300;
                        }
                    }
                }

            }
        }
    }
}
/*================== HEADER ==================== */
/*================== FOOTER ==================== */
#footer{
    background: #fff;
    padding-top: 2rem;
    @extend %text;
    p{
        margin-bottom: 0;
        font-weight: 400;
        font-size: 1.2em;
        &[color="gray"]{
            color: $color--secundary;
        }
        &[color="green"]{
            color: $color--primary;
        }
         &.btn_return{
            font-size: 1.5em;
            cursor: pointer;
        }
    }
    .contact{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        width: 90%;
        margin-left: 5%;
        .network{
            position: relative;
            color: #fff;
            margin-left: 2px;
            margin-right: 2px;
            padding-left: 10px;
            padding-right: 10px;
            &::before{
                content: '';
                @extend %center-align;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: $color--primary;
            }
            i{
                position: relative;
                z-index: 10;
            }
        }
    }
    .legal{
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 1px solid $color--secundary;
        text-align: center;
        width: 90%;
        margin-left: 5%;
    }
}
/*================== FOOTER ==================== */
/*================== CONTACTO ==================== */
#contact{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
    top: 0;
    left: 0;
    pointer-events: none;
    &::after{
        content: '';
        background: $color--primary;
        width: 100%;
        height: 100%;
        position: absolute;
        @include cp-property(transform, translateX(120%));
        @include transition(600ms);
        opacity: 0.7;
    }
    &::before{
        content: '';
        background: $color--primary;
        width: 100%;
        height: 100%;
        position: absolute;
        @include cp-property(transform, translateX(120%));
        @include transition(800ms);
        @include cp-property(transition-delay, 300ms);
        opacity: 1;
    }
    .top{
        @extend %horizontal-align;
        top: 2rem;
        width: 90%;
        z-index: 5;
        opacity: 0;
        @include transition(600ms ease);
        .logo{
            max-width: 200px;
            svg{
                width: 100%;
                .cls-1 {
                    fill: #fff;
                }

                .cls-2 {
                    fill: #fff;
                }

                .cls-3 {
                    fill: #fff;
                }
            }
        }
        .btn_close{
            position: absolute;
            color: #fff;
            top: 0;
            right: 0;
            cursor: pointer;
            font-size: 1.3em;
            font-weight: 300;
            @extend %text;
            i{
                margin-left: 1rem;
            }
        }
    }
    .center{
        @extend %vertical-align;
        left: 5%;
        color: #fff;
        z-index: 5;
        opacity: 0;
        width: 90%;
        @include transition(600ms);
        @extend %text;
        nav{
            ul{
                list-style: none;
                padding-left: 0;
                li{
                    color: #38A365;
                    font-weight: 500;
                    font-size: 1.3em;
                    margin-top: 3px;
                    margin-bottom: 3px;
                }
            }
        }
        .question{
            p{
                font-size: 3rem;
                font-weight: 400;
                margin-bottom: 0;
            }
            input{
                width: 100%;
                height: 50px;
                background: transparent;
                border: none;
                font-size: 3rem;
                color: #38A365;
                &::-webkit-input-placeholder{
                    color: #38A365;
                }
                &::-moz-placeholder{
                    color: #38A365;
                }
                &:-sm-input-placeholder{
                    color: #38A365;
                }
                &:-moz-placeholder{
                    color: #38A365;
                }
            }
        }
    }
    &.active{
        pointer-events: all;
        &::after{
            @include cp-property(transform, translateX(0%));
        }
        &::before{
            @include cp-property(transform, translateX(0%));
        }
        .top{
            @include cp-property(transition-delay, 600ms);
            opacity: 1;
        }
        .center{
            opacity: 1;
            @include cp-property(transition-delay, 600ms);
        }
    }
}
/*================== CONTACTO ==================== */
